html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: Tahoma, sans-serif;
    font-size: 10px;
    word-break: break-all;
    background-color: #000;
}

#arena {
    width: 330px;
    height: 330px;
    background-color: #000;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tile {
    float: left;
    width: 30px;
    height: 30px;
    background-color: #999;
    outline: 1px solid #ddd;
}

.tile:hover {
    background-color: #a5a5a5;
}

.tile span {
    color: #fff;
    display: block;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

.tile.void {
    background-color: #000;
    outline: none;
}

.tile.void span {
    color: #000;
}

.movable {
    background-color: #0071ff;
}

.movable:hover {
    cursor: pointer;
    background-color: #0984ff;
}

.unit {
    background-color: #0c800d;
}

.unit:hover {
    cursor: pointer;
    background-color: #0fb810;
}

.unit.enemy {
    background-color: #801811;
}

.unit.enemy:hover {
    cursor: pointer;
    background-color: #a92116;
}
