#units, #arena {
    float: left;
    transform: none;
    top: initial;
    left: initial;
}

#units {
    margin-left: 10px;
    width: 320px;
}

#units .item {
    float: left;
    margin: 10px 2px;

    color: white;
    width: 100px;
    text-align: center;
}

